html {
  font-size: 14px;
}

.navbar, .evenrow {
    background-color:#E0E0FF;
}

body {
    background-color: #F3F3FF;
}

.success {
    font-weight: bold;
    color:green;
}

.bulletless {
    list-style-type: none;
}

.largeroptions {
    font-size: 16pt;
}

p.error {
    color: red;
    font-weight: bold;
}

.painter-shift {
    background-color:palegoldenrod;
    text-align:center;
    vertical-align:middle;
    font-size:10pt;
    width:100%;
    height:100%;
    padding:3px;
    border: 2pt solid goldenrod;
    border-radius:15px;
}

ul.linklist {
    list-style-type: none;
    align-content:center;
}

div.sv-shift-box {
    float: left;
    width: 230px;
    height: 350px;
    margin: 10px;
    padding: 5px;
    border: 3pt double #AAAAFF;
    background-color: #E0E0FF;
    border-radius: 15px;
    box-shadow: 8px 8px 6px #888888;
    text-align: center;
}

.sv-shift-hours-bubble {
    border: 1pt solid goldenrod;
    background-color: palegoldenrod;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
}

.sv-availability-bubble {
    border: 1pt solid green;
    background-color: palegreen;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
}

li.linklist-item {
    margin:20pt;
    float:left;
}

.unavailable {
    background-color:lightpink;
    border: 1pt solid black;
    text-align:center;
}

a.nav-link {
    font-weight: bold;
}

.approve {
    background-color: palegreen;
}

td.detailscell {
    padding: 0pt 13pt 13pt 13pt;
}

.deny {
    background-color: lightcoral;
}

.details {
    background-color: palegoldenrod;
}

div.details {
    background-color: palegoldenrod;
    padding: 8pt;
    border: 2pt solid goldenrod;
}

.link-button-nofloat {
    padding: 8px;
    color: black;
    border: 1pt solid black;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 3px 3px 3px #888888;
    margin: 5px;
    float: none;
}

.painter-link-button-nofloat {
    padding: 1pt;
    color: black;
    border: 1pt solid black;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 1px 1px 1px #888888;
    margin: 5px;
    float: none;
    vertical-align:top;
    height:50%;
    width:80%;
    font-size: 8pt;
}

.painter-unavailable {
    border-left: 3pt solid black;
    border-right: 3pt solid black;
    vertical-align: middle;
    text-align: center;
    width: 20px;
    height: 40px;
    background-color: #f8a6b2;
}

.painter-unavailable-even {
    border-left: 3pt solid black;
    border-right: 3pt solid black;
    vertical-align: middle;
    text-align: center;
    width: 20px;
    height: 40px;
    background-color: lightpink;
}
.confirm-box {
    padding: 40px;
    width: 600px;
    border: 1pt double black;
    box-shadow: 3px 3px 3px #888888;
    border-radius:20px;
}

.form-label {
    text-align: right;
    font-weight: bold;
}

.link-button {
    padding: 8px;
    color: black;
    border: 1pt solid black;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 3px 3px 3px #888888;
    margin: 5px;
    float: right;
}

.painter-link-button {
    padding: 8px;
    color: black;
    border: 1pt solid black;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 3px 3px 3px #888888;
    margin: 5px;
    float: right;
}

a.painter-link-button-small-x {
    color: black;
    border: 1pt solid black;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 3px 3px 3px #888888;
    margin: 5px;
    float: right;
    width: 20px;
    height: 20px;
    font-size: 8pt;
    background-color: palevioletred;
}

div.item-box {
    float: left;
    width: 200px;
    height: 150px;
    margin: 10px;
    padding: 5px;
    border: 3pt double black;
    border-radius: 15px;
    box-shadow: 8px 8px 6px #888888;
    text-align: center;
}

table.request-table {
    border: 1pt solid black;
}

tr.headerrow2 {
    padding: 2pt;
    border: 2pt solid black;
    background-color: #aaaaff;
}

tr.row2 {
    padding: 2pt;
    border: 1pt solid black;
}

td.cell2, th.cell2 {
    border: 1pt solid black;
    padding: 13px;
    margin: 3px;
    vertical-align:middle;
    text-align:center;
}

tr.painter-headerrow {
    padding: 2pt;
    border: 2pt solid black;
    background-color: #aaaaff;
}

tr.painter-row {
    padding: 2pt;
    border: 1pt solid black;
}

td.painter-cell, th.painter-cell {
    border-left: 3pt solid black;
    border-right: 3pt solid black;
    vertical-align: middle;
    text-align: center;
    width:20px;
    height:40px;
}
td.painter-cell-left, th.painter-cell-left {
    
    vertical-align: bottom;
    text-align: right;
    width: 20px;
    height: 40px;
    font-weight:bold;
}
td.painter-cell-right, th.painter-cell-right {
    
    vertical-align: bottom;
    text-align: left;
    width: 30px;
    height: 60px;
    font-weight: bold;
}

td.painter-name-cell, th.painter-name-cell {
    border: 1pt solid black;
    padding: 2pt;
    vertical-align: middle;
    text-align: center;
}

td.cell3, th.cell3 {
    padding: 0;
    margin: 3px;
}

div.container2 {
    content: "";
    clear: both;
    display: table;
}

div.available-shift-box {
    float: left;
    width: 200px;
    height: 250px;
    margin: 10px;
    padding: 5px;
    border: 3pt double black;
    border-radius: 15px;
    box-shadow: 8px 8px 6px #aaaaaa;
    text-align: center;
}

div.conflicting-shift-box {
    float: left;
    width: 200px;
    height: 250px;
    margin: 10px;
    padding: 5px;
    border: 3pt double red;
    border-radius: 15px;
    box-shadow: 8px 8px 6px #aaaaaa;
    text-align: center;
}

a.item-box{
    color: #000000;
}

.list {
    float: left;
    margin: 10px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 5px 5px 3px #aaaaaa;
    list-style-position: inside;
}

@media (min-width: 768px) {
    html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
}

table.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

