<!DOCTYPE html>
<html>
<head>
    <title>Employee Schedule View</title>
</head>
<body>
    <h1>Employee Schedule View</h1>

    <table>
        <thead>
            <tr>
                <th>Week 1</th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Shift 1</th>
                <td>8:00 AM - 4:00 PM</td>
                <td>8:00 AM - 4:00 PM</td>
                <td>8:00 AM - 4:00 PM</td>
                <td>8:00 AM - 4:00 PM</td>
                <td>8:00 AM - 4:00 PM</td>
            </tr>
            <tr>
                <th>Shift 2</th>
                <td>12:00 PM - 8:00 PM</td>
                <td>12:00 PM - 8:00 PM</td>
                <td>12:00 PM - 8:00 PM</td>
                <td>12:00 PM - 8:00 PM</td>
                <td>12:00 PM - 8:00 PM</td>
            </tr>
            <tr>
                <th>Shift 3</th>
                <td>8:00 PM - 4:00 AM</td>
                <td>8:00 PM - 4:00 AM</td>
                <td>8:00 PM - 4:00 AM</td>
                <td>8:00 PM - 4:00 AM</td>
                <td>8:00 PM - 4:00 AM</td>
            </tr>
            <tr>
                <th>OFF</th>
                <td>OFF</td>
                <td>OFF</td>
                <td>OFF</td>
                <td>OFF</td>
                <td>OFF</td>
            </tr>
        </tbody>
    </table>

    <h1>Week 2</h1>

    <table>
        <thead>
            <tr>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>8:00 AM - 4:00 PM</td>
                <td>8:00 AM - 4:00 PM</td>
                <td>8:00 AM - 4:00 PM</td>
                <td>8:00 AM - 4:00 PM</td>
                <td>8:00 AM - 4:00 PM</td>
            </tr>
            <tr>
                <td>12:00 PM - 8:00 PM</td>
                <td>12:00 PM - 8:00 PM</td>
                <td>12:00 PM - 8:00 PM</td>
                <td>12:00 PM - 8:00 PM</td>
                <td>12:00 PM - 8:00 PM</td>
             </tr>
        </tbody>
    </table>
    <br />
    <input type="checkbox" id="alter" name="alter" />
    <label for="alter">Alter</label>
    <br />
    <button type="submit">Submit</button>
</body>
</html>


@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<!--Schedule Viewer Goes Here -->
@{
}
