<html>
<head>
	<title>Employee Work Schedule</title>
	<style>
		table, th, td {
			border: 1px solid black;
			border-collapse: collapse;
			padding: 5px;
		}
	</style>
</head>
<body>
	<h1>Employee Work Schedule</h1>
	<table>
		<tr>
			<th>Date</th>
			<th>Employee Name</th>
			<th>Shift</th>
		</tr>
		<tr>
			<td>January 3, 2023</td>
			<td>Max Connor</td>
			<td>8:00 AM - 12:00 PM</td>
		</tr>
		<tr>
			<td>January 4, 2023</td>
			<td>James Kelly</td>
			<td>2:00 PM - 6:00 PM</td>
		</tr>
		<tr>
			<td>January 5, 2023</td>
			<td>Kent Shrock</td>
			<td>9:00 AM - 1:00 PM</td>
		</tr>
		<tr>
			<td>January 6, 2023</td>
			<td>William White</td>
			<td>6:00 AM - 2:30 PM</td>
		</tr>

		
		<!-- Add more rows for additional dates, employee names, and shifts as needed -->
	</table>
</body>
</html>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<!--Schedule Viewer Goes Here -->
@{
}
