<h1 class="text-center">Schedule Editor Matrix</h1>
<hr />
@{
    ViewData["Title"] = "Schedule Editor";



        <h3 class="text-center">What would you like to do?</h3>
        <br />
        <a asp-action="ViewShifts" class="link-button">View Schedules</a>
        <br />
        <a asp-action ="AddShift" class="link-button">Add New Schedule</a>

    }
}

