<h1 class="text-center">Schedule Editor Matrix</h1>
<hr />
@{
    ViewData["Title"] = "Schedule Editor";

    <center>
    <div>
        
        <a asp-action ="AddShift" class="link-button-nofloat" style="color:red; Background:azure">Add New Shift</a>
    </div>
    <br />
        <div>
            <h2>View Shifts</h2>
            <hr />
            <a asp-action="ViewShifts" asp-route-a="1" class="link-button-nofloat">By Date</a>
            <a asp-action="ViewShifts" asp-route-a="2" class="link-button-nofloat">By Employee</a>
            <a asp-action="ViewShifts" asp-route-a="4" class="link-button-nofloat">Open Shifts</a>
            <a asp-action="ViewShifts" asp-route-a="3" class="link-button-nofloat">View All</a>

        </div>
    </center>

    <hr />
    





}

