<h1 class="text-center">Schedule Editor Matrix</h1>
<hr />
@{
    ViewData["Title"] = "Schedule Editor";
    List<Shift> theShifts = ViewBag.ShiftList;


    <center>
    <div>
        <a asp-action="ViewShifts" class="link-button-nofloat">View Schedules</a>
        <a asp-action ="AddShift" class="link-button-nofloat">Add New Shift</a>
    </div>
    </center>

    if(ViewBag.ShiftList == null)
    {
        <p>There are no Shifts</p>
    }
    else
    {
        foreach (Shift theShift in theShifts)
        {
            <div>
            <a asp-action = "ViewDetails" class="link-button-nofloat" asp-route-id = "@theShift.ID"> @theShift.ID : @theShift.Role</a>
                <br /><br />
            </div>
        }
    }

}

