<h1 class="text-center">Schedule Editor Matrix</h1>
<hr />
@{
    ViewData["Title"] = "Schedule Editor";
    

    <center>
    <div>
        <a asp-action="ViewShifts" class="link-button-nofloat">View Schedules</a>
        <a asp-action ="AddShift" class="link-button-nofloat">Add New Shift</a>
    </div>
    </center>

    if(ViewBag.SL== null)
    {
        <p>There are no Shifts</p>
    }
    else
    {
        foreach (Shift shift in ViewBag.SL)
        {
            <p>This is a shift: @shift.ID</p>
        }
    }

}

