@{
    @model ScheduleManager.Models.Employee
    ViewData["Title"] = "Verify Account";

}
<div class="text-center">
    <h2>Please Verify your Account Information</h2>
    <form>
        <label>Username:&nbsp;</label><input class="text-center" style="width: 160px;" type="text" name="UserName"/>
        <br/>
        <label>Password:&nbsp;&nbsp;</label><input class ="text-center"style="width:160px;" type="text" name="Password"/>
        <br/>
        <input asp-action="EmployeeDetails" type="submit" value="Verify"/>
    </form>
</div>

