@{
    @model ScheduleManager.Models.Employee
    ViewData["Title"] = "Verify Account";
}

<div class="text-center">
    <h2>Employee Look-up</h2>
    <form>
        <label>EmployeeID:&nbsp;&nbsp;</label><input class ="text-center"style="width:160px;" type="text" name="EmpyID"/>
        <br/>
        <input asp-action="EmployeeDetails" type="submit" value="Verify"/>
    </form>
</div>

