@model ScheduleManager.Models.Employee

<div class="text-center"> 
    <h1>Employee Information</h1>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            First Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
    </dl>
</div>
<div class="text-center">
    <h1>Contact Information</h1>
</div>
