<div class="text-center">
    <h1 class="display-4">Welcome, @(Convert.ToInt32(ViewData["LoggedIn"]) == 0 ? "Please Login" : ViewBag.CurrentUser.FirstName).</h1>
    @{
        if (Convert.ToInt32(ViewData["LoggedIn"]) == 0)
        {
            <!--<p>Login Form should Show Here.</p>-->
            <p class="error">@ViewData["Message"]</p>
            <p>
                <form asp-action="LogIn">
                    <label>Username:</label>
                    <input type="text" placeholder="Enter Username" name="Username" required><br>
                    <!--input type="text" name="UserName"-->
                    <label>Password:</label>
                    <input type="password" placeholder="Enter Password" name="Password" required><br>
                    <!--input type="text" name="Password"-->
                    <input type="submit" value="LogIn"><br>
                    <input type="checkbox" checked="checked"> Remember me<br>
                    <button type="button" class="cancelbtn"> Cancel</button>
                </form>
            </p>
            <p>Sample Logins:</p>
            <ul class="bulletless">
            <li>General Manager Level: Username GM Password GM</li>
            <li>Manager Level: Username M Password M</li>
            <li>4 Team Members. William Max James and Kent. Username and Password are both the first name.</li>
            </ul>
        }
        if (Convert.ToInt32(ViewData["LoggedIn"]) == 1)
        {
            <p>Welcome @ViewBag.CurrentUser.FirstName</p>
            <p>What would you like to do today? Here are some suggestions:</p>
            <ul class="container2 linklist">
                <li class="linklist-item">
                <a class="link-button" asp-controller="OpenShifts" asp-action="Index">View Available Shifts</a>
                </li>
                <li class="linklist-item">
                <a class="link-button" asp-controller="EmployeeEditor" asp-action="EmployeeDetails" asp-route-id="@ViewBag.CurrentUser.ID">Edit My Information</a>
                </li>
                @{
                    if (ViewBag.CurrentUser.RankID > 1)
                    {
                        <li class="linklist-item">
                        <a class="link-button" asp-controller="Approvals" asp-action="Index">View Manager Approvals</a>
                        </li>
                        <li class="linklist-item">
                        <a class="link-button" asp-controller="ScheduleEditor" asp-action="ScheduleEditorIndex">Manage Schedules</a>
                        </li>
                    }
                    if(ViewBag.CurrentUser.RankID>2)
                    {
                        <li class="linklist-item">
                            <a class="link-button" asp-controller="Composer" asp-action="Index">Schedule Composer - GM Only</a>
                        </li>
                    }
                }
            </ul>
        }
    }
</div>
