<div class="text-center">
    <h1 class="display-4">Welcome, @(Convert.ToInt32(ViewData["LoggedIn"]) == 0 ? "Please Login" : ViewBag.CurrentUser.FirstName).</h1>
    @{
        if (Convert.ToInt32(ViewData["LoggedIn"]) == 0)
        {
            <!--<p>Login Form should Show Here.</p>-->
            <p class="error">@ViewData["Message"]</p>
            <p>
                <form asp-action="LogIn">
                    <label>Username:</label>
                    <input type="text" placeholder="Enter Username" name="Username" required><br>
                    <!--input type="text" name="UserName"-->
                    <label>Password:</label>
                    <input type="text" placeholder="Enter Password" name="Password" required><br>
                    <!--input type="text" name="Password"-->
                    <input type="submit" value="LogIn"><br>
                    <input type="checkbox" checked="checked"> Remember me<br>
                    <button type="button" class="cancelbtn"> Cancel</button>
                </form>
            </p>
        }
        if (Convert.ToInt32(ViewData["LoggedIn"]) == 1)
        {
            <p>Welcome @ViewBag.CurrentUser.FirstName</p>
        }
    }
</div>
