<div class="text-center">
    <h1 class="display-4">Welcome, @(Convert.ToInt32(ViewData["LoggedIn"]) == 0 ? "Please Login" : ViewBag.CurrentUser.FirstName).</h1>
    @{
        if (Convert.ToInt32(ViewData["LoggedIn"]) == 0)
        {
            <!--<p>Login Form should Show Here.</p>-->
            <p class="error">@ViewData["Message"]</p>
            <p>
                <form asp-action="LogIn">
                    <label>Username:</label>
                    <input type="text" placeholder="Enter Username" name="Username" required><br>
                    <!--input type="text" name="UserName"-->
                    <label>Password:</label>
                    <input type="password" placeholder="Enter Password" name="Password" required><br>
                    <!--input type="text" name="Password"-->
                    <input type="submit" value="LogIn"><br>
                </form>
            </p>
            <center>
                <table style="visibility: hidden;">
                    <tr class="headerrow2">
                        <td class="cell2" colspan="5">
                            Sample Logins:
                        </td>
                    </tr>
                    <tr class="headerrow2">
                        <td class="cell2">Rank</td>
                        <td class="cell2">Name</td>
                        <td class="cell2">Username</td>
                        <td class="cell2">Password</td>
                        <td class="cell2">Actions</td>
                    </tr>
                    <tr class="row2">
                        <td class="cell2">General Manager</td>
                        <td class="cell2">General Manager</td>
                        <td class="cell2">GM</td>
                        <td class="cell2">GM</td>
                        <td class="cell2">
                            <form asp-action="LogIn">
                                <input type="hidden" name="Username" value="GM">
                                <input type="hidden" name="Password" value="GM">
                                <input class="link-button-nofloat" type="submit" value="LogIn"><br>
                            </form>
                        </td>
                    </tr>
                    <tr class="row2 evenrow">
                        <td class="cell2">Manager</td>
                        <td class="cell2">Regular Manager</td>
                        <td class="cell2">M</td>
                        <td class="cell2">M</td>
                        <td class="cell2">
                            <form asp-action="LogIn">
                                <input type="hidden" name="Username" value="M">
                                <input type="hidden" name="Password" value="M">
                                <input class="link-button-nofloat" type="submit" value="LogIn">
                            </form>
                        </td>
                    </tr>
                    <tr class="row2">
                        <td class="cell2">Team Member</td>
                        <td class="cell2">James Kelly</td>
                        <td class="cell2">James</td>
                        <td class="cell2">James</td>
                        <td class="cell2">
                            <form asp-action="LogIn">
                                <input type="hidden" name="Username" value="James">
                                <input type="hidden" name="Password" value="James">
                                <input class="link-button-nofloat" type="submit" value="LogIn">
                            </form>
                        </td>
                    </tr>
                    <tr class="row2 evenrow">
                        <td class="cell2">Team Member</td>
                        <td class="cell2">William White</td>
                        <td class="cell2">William</td>
                        <td class="cell2">William</td>
                        <td class="cell2">
                            <form asp-action="LogIn">
                                <input type="hidden" name="Username" value="William">
                                <input type="hidden" name="Password" value="William">
                                <input class="link-button-nofloat" type="submit" value="LogIn">
                            </form>
                        </td>
                    </tr>
                    <tr class="row2">
                        <td class="cell2">Team Member</td>
                        <td class="cell2">Maxwell Connor</td>
                        <td class="cell2">Max</td>
                        <td class="cell2">Max</td>
                        <td class="cell2">
                            <form asp-action="LogIn">
                                <input type="hidden" name="Username" value="Max">
                                <input type="hidden" name="Password" value="Max">
                                <input class="link-button-nofloat" type="submit" value="LogIn">
                            </form>
                        </td>
                    </tr>
                    <tr class="row2 evenrow">
                        <td class="cell2">Team Member</td>
                        <td class="cell2">Kent Shrock</td>
                        <td class="cell2">Kent</td>
                        <td class="cell2">Kent</td>
                        <td class="cell2">
                            <form asp-action="LogIn">
                                <input type="hidden" name="Username" value="Kent">
                                <input type="hidden" name="Password" value="Kent">
                                <input class="link-button-nofloat" type="submit" value="LogIn">
                            </form>
                        </td>
                    </tr>
                </table>
            </center>
        }
        if (Convert.ToInt32(ViewData["LoggedIn"]) == 1)
        {
            <p>Welcome @ViewBag.CurrentUser.FirstName</p>
            <p>What would you like to do today? Here are some suggestions:</p>
            <ul class="container2 linklist">
                <li class="linklist-item">
                    <a class="link-button" asp-controller="ScheduleViewer" asp-action="Index">View My Schedule</a>
                </li>
                <li class="linklist-item">
                    <a class="link-button" asp-controller="OpenShifts" asp-action="Index">View Available Shifts</a>
                </li>
                <li class="linklist-item">
                    <a class="link-button" asp-controller="EmployeeEditor" asp-action="EmployeeDetails" asp-route-id="@ViewBag.CurrentUser.ID">Edit My Information</a>
                </li>
                <li class="linklist-item">
                    <a class="link-button" asp-controller="RequestTimeOff" asp-action="Index">Request Time Off</a>
                </li>
                <li class="linklist-item">
                    <a class="link-button" asp-controller="AvailabilityEditor" asp-action="Index">Change My Availability</a>
                </li>

            </ul>
        }
    }
</div>
