@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Class Tester Module";
}
<p><a asp-action="Rank">Ranks List</a></p>
<p><a asp-action="Employee">Employees List</a></p>
<p><a asp-action="Availability">Availabilities List</a></p>
