@{
    ViewData["Title"] = "Class Tester Module";
}
<p><a asp-action="RankList">Ranks List</a></p>
<p><a asp-action="RoleList">Roles List</a></p>
<p><a asp-action="EmployeeList">Employees List</a></p>
<p><a asp-action="AvailabilityList">Availabilities List</a></p>
<p><a asp-action="ShiftList">Shifts List</a></p>
<p><a asp-action="PickupRequestList">Pickup Requests List</a></p>
<p><a asp-action="TimeOffRequestList">Time Off Requests List</a></p>
