@{
    ViewData["Title"] = "Utilities";
}
<div>
    <ul class="bulletless" style="margin-left:85px;">
        <li class="list">
            <a class="navbar-brand" asp-controller="Utility" asp-action="RoleManager">Role Manager</a>
        </li>
        <li class="list">
            <a class="navbar-brand" asp-controller="Utility" asp-action="RankList">Rank List</a>
        </li>
    </ul>
</div>